<table class="dos-table">
    <tr class="dos-table-header-row">
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr class="dos-table-header-row">
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr class="dos-table-header-row">
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>

@code {

}
