@page "/"
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<div class="dos-prompt-container">
    <p class="dos-output">Matt Fry.IO [Version 2.0]</p>
</div>
<div class="dos-prompt-container">
    <p class="dos-output">(C) Copyright 2019-2020 Matt Fry. All rights reserved.</p>

</div>

@foreach (var priorInput in priorInputs)
{
    <div class="dos-prompt-container">
        <p class="prompt-label">C:></p>
        <p class="dos-output">@priorInputs.PriorInput</p>
    </div>
}
<div class="dos-prompt-container">
    <p class="prompt-label">C:></p>
    <input type="text" id="dosPrompt" class="dos-prompt-input" @bind="priorPrompt"@onkeydown="@Enter" autofocus />
</div>

@code{
    private IList<PriorInputs> priorInputs = new List<PriorInputs>();
    private string priorPrompt;

    private void AddPriorPrompt()
    {
        if (!string.IsNullOrWhiteSpace(priorPrompt))
        {
            priorInputs.Add(new PriorInputs { PriorInput = priorPrompt });
            priorPrompt = string.Empty;
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (!string.IsNullOrWhiteSpace(priorPrompt))
            {
                priorInputs.Add(new PriorInputs { PriorInput = priorPrompt });
                priorPrompt = string.Empty;
            }
        }
    }

}
