@page "/"
@inject NavigationManager NavManager;
@inject BlazorDOS.SendSMS SendSMS;
@inject BlazorDOS.Commands.BaseCommands BaseCommand;
@*@inject BlazorDOS.Commands.BaseCommands BaseCommands;*@
@*@inject Microsoft.AspNetCore.Mvc.Rendering.TagBuilder TagBuilder;*@


<div class="dos-prompt-container">
    <p class="dos-output">Matt Fry.IO [Version 2.0]</p>
</div>
<div class="dos-prompt-container">
    <p class="dos-output">(C) Copyright 2019-2021 Matt Fry. All rights reserved.</p>

</div>

<CommandPrompt></CommandPrompt>


